.main-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}
.navbar-container {
  height: 60px;
  padding: 5px 70px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-icon-list {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.quick-links {
  width: 100vw;
  padding: 8px 70px;
  border-bottom: 1px solid black;
  background-color: #fff;
  position: relative;
  display: inline-block;
}
.quick-links-list{
  display: flex;
  gap: 31px;
  align-items: top;
  cursor: pointer;
  font-size: 20px;
  color: #555555;
}

.dropdown{
  display: none;
  padding: 0px 5px 0px 0;
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  animation: downToUp 0.2s ease-in-out;
}

@keyframes downToUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
.dropdown ul {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.dropdown ul li:hover{
  cursor: pointer;

}

.quick-links:hover .dropdown {
  display: block;
}

