@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url(../assets/fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../assets/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url(../assets/fonts/gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy-SemiBold"),
    url(../assets/fonts/gilroy/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url(../assets/fonts/gilroy/Gilroy-Light.ttf) format("truetype");
}

:root {
  font-family: "Gilroy-Regular", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
}
::-webkit-scrollbar-track {
  background-color: rgb(203, 203, 203);
}

